<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-NSInvocationOperation简单使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>02-NSBlockOperation简单使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>03-循环依赖.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>04-线程间的通信.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>05-自定义Operation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>NSOperation代码集合.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0F364A6B1C56329C00319455</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F364A891C56348B00319455</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F364AA41C5639EF00319455</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F364ABF1C56423F00319455</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FF7CB961C565941007CD12D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FF7CBB11C5665EE007CD12D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
